{{!< default}} <head>
    <link rel="stylesheet" type="text/css" href="{{asset 'css/cg-urban.css'}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <header class="photography-header">
        <div class="header-content">
            <div class="logo-container">
                <a href="https://KatieDeForest.com" class="header-link">
                    <img src="{{asset 'images/catlogo.png'}}" alt="Logo" class="logo">
                    <h1>Katie's Photography</h1>
                </a>
            </div>
            <nav class="photography-menu">
                <ul>
                    <li><a href="/photography/pg-start" id="btn" class="start-btn">Start</a></li>
                    <li><a href="/photography/pg-gallery" id="btn" class="gallery-btn">Gallery</a></li>
                    <li><a href="/photography/pg-services" id="btn" class="services-btn">Services</a></li>
                    <li><a href="/photography/pg-contact" id="btn" class="contact-btn">Contact</a></li>
                    <li><a href="/photography/pg-about" id="btn" class="about-btn">About</a></li>
                </ul>
            </nav>
        </div>
    </header>