{{!< default}} <head>
    <link rel="stylesheet" type="text/css" href="{{asset 'css/discord.css'}}">
    </head>
    <div class="title-container">
        <div class="line">
            <span>The Meow Movement</span>
        </div>
    </div>