{{!< default}} <head>
    <link rel="stylesheet" type="text/css" href="{{asset 'css/discord.css'}}">
    </head>
        <div class="floating-section">
            <span class="line-left"></span>
            <h1>The Meow Movement</h1>
            <p>
            MEOW MEOW MEOW MEOW MEOW MEOW MEOW MEOW MEOW MEOW MEOW MEOW MEOW MEOW MEOW MEOW
            MEOW MEOW MEOW MEOW MEOW MEOW MEOW MEOW MEOW MEOW MEOW MEOW MEOW MEOW MEOW MEOW
            </p>
        </div>