<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vertical Image Layout</title>
    <link rel="stylesheet" href="./assets/css/homepage.css">
</head>

<body>
    <header class="site-header">
        <div class="header-content">
            <div class="logo-container">
                <a href="https://KatieDeForest.com" class="header-link">
                    <img src="./assets/images/catlogo.png" alt="Logo" class="logo">
                    <h1>Katie De Forest</h1>
                </a>
            </div>
            <div class="hamburger-container">
                <div class="hamburger" id="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </header>
    <nav class="menu" id="menu">
        <button id="invert-colors-button">Invert Colors</button>
        <ul>
            <li><a href="page1.html">Katie's Photography</a></li>
            <li><a href="page2.html">The Meow Movement</a></li>
            <li><a href="page3.html">T.TV/KatieDeForest</a></li>
            <li><a href="page4.html">About Katie De Forest</a></li>
        </ul>
    </nav>
    <div class="image-container">
        <a href="page1.html">
            <img src="./assets/images/flower.jpg" alt="Katie's Photography">
            <div class="overlay">
                <div class="line"></div>
                <span>Katie's Photography</span>
            </div>
        </a>
        <a href="page2.html">
            <img src="./assets/images/tmmlogo.png" alt="The Meow Movement">
            <div class="overlay">
                <div class="line"></div>
                <span>The Meow Movement</span>
            </div>
        </a>
        <a href="page3.html">
            <video src="./assets/images/twitch.mp4" autoplay="true" loop="true" muted="true" playsinline="true">
                <alt="T.TV /KatieDeForest">
            </video>
            <div class="overlay">
                <div class="line"></div>
                <span>T.TV/KatieDeForest</span>
            </div>
        </a>
        <a href="page4.html">
            <img src="./assets/images/cutecat.jpg" alt="About Katie De Forest">
            <div class="overlay">
                <div class="line"></div>
                <span>About Katie De Forest</span>
            </div>
        </a>
    </div>
    
    <script src="./assets/js/hamburgermenu.js"></script>
</body>

</html>