{{!< default}}
<div class="image-container">
    <a href="photography">
        <img src="{{asset 'images/photography.jpg'}}" alt="Katie's Photography" loading="lazy">
        <div class="overlay">
            <div class="line"></div>
            <span>Katie's Photography</span>
        </div>
    </a>
    <a href="discord">
        <img src="{{asset 'images/tmmbanner.png'}}" alt="The Meow Movement" loading="lazy">
        <div class="overlay">
            <div class="line"></div>
            <span>The Meow Movement</span>
        </div>
    </a>
    <a href="page3.html">
        <video src="{{asset 'images/twitch.mp4'}}" autoplay loop muted playsinline>
            <alt="T.TV /KatieDeForest">
        </video>
        <div class="overlay">
            <div class="line"></div>
            <span>T.TV/KatieDeForest</span>
        </div>
    </a>
    <a href="page4.html">
        <img src="{{asset 'images/cutecat.jpg'}}" alt="About Katie De Forest" loading="lazy">
        <div class="overlay">
            <div class="line"></div>
            <span>About Katie De Forest</span>
        </div>
    </a>
</div>
