{{!< default}} <head>
    <link rel="stylesheet" type="text/css" href="{{asset 'css/photography.css'}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <div class="image-container">
        <img src="{{asset 'images/photohomepage.jpg'}}" loading="lazy">
        <div class="header-overlay">Katie De Forest</div>
        <div class="description-overlay">Detail-focused photography<br>that brings out the beauty in every moment</div>
        <div class="button-container">
            <a href="#" class="button">Portfolio</a>
            <a href="#" class="button">About Me</a>
        </div>
    </div>