<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vertical Image Layout</title>
    <link rel="stylesheet" href="./assets/css/homepage.css">
</head>

<body>
    <div class="image-container">
        <a href="page1.html">
            <img src="./assets/images/flower.jpg" alt="Image 1">
            <span class="image-text">Image 1 Text</span>
        </a>
        <a href="page2.html">
            <img src="./assets/images/flower2.jpg" alt="Image 2">
            <span class="image-text">Image 2 Text</span>
        </a>
        <a href="page3.html">
            <img src="./assets/images/house.jpg" alt="Image 3">
            <span class="image-text">Image 3 Text</span>
        </a>
        <a href="page4.html">
            <img src="./assets/images/flower3.jpg" alt="Image 4">
            <span class="image-text">Image 4 Text</span>
        </a>
    </div>
</body>

</html>