<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vertical Image Layout</title>
    <link rel="stylesheet" href="./assets/css/homepage.css">
    <script defer src="./assets/js/hamburgermenu.js"></script>
</head>

<body>
    <header class="site-header">
        <div class="header-content">
            <img src="./assets/images/catlogo.png" alt="Logo" class="logo">
            <h1>Katie De Forest</h1>
            <div class="hamburger-menu" id="hamburger-menu">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </div>
    </header>
    <nav class="nav-menu" id="nav-menu">
        <ul>
            <li><a href="page1.html">Page 1</a></li>
            <li><a href="page2.html">Page 2</a></li>
            <li><a href="page3.html">Page 3</a></li>
            <li><a href="page4.html">Page 4</a></li>
        </ul>
    </nav>
    <div class="image-container">
        <a href="page1.html">
            <img src="./assets/images/flower.jpg" alt="Image 1">
            <div class="overlay">
                <div class="line"></div>
                <span>Katie's Photography</span>
            </div>
        </a>
        <a href="page2.html">
            <img src="./assets/images/tmmlogo.png" alt="Image 2">
            <div class="overlay">
                <div class="line"></div>
                <span>The Meow Movement</span>
            </div>
        </a>
        <a href="page3.html">
            <img src="./assets/images/house.jpg" alt="Image 3">
            <div class="overlay">
                <div class="line"></div>
                <span>T.TV/KatieDeForest</span>
            </div>
        </a>
        <a href="page4.html">
            <img src="./assets/images/flower3.jpg" alt="Image 4">
            <div class="overlay">
                <div class="line"></div>
                <span>About Katie</span>
            </div>
        </a>
    </div>
</body>

</html>