<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vertical Image Layout</title>
    <link rel="stylesheet" href="./assets/css/homepage.css">
</head>

<body>
    <div class="image-container">
        <img src="./assets/images/flower.jpg" alt="Image 1">
        <img src="./assets/images/flower2.jpg" alt="Image 2">
        <img src="./assets/images/house.JPG" alt="Image 3">
        {{!-- <img src="image4.jpg" alt="Image 4"> --}}
    </div>
</body>

</html>