html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    /* Prevent scrolling */
}

body {
    margin: 0;
    padding: 0;
    display: block;
    height: 100vh;
    background: #f0f0f0;
}

.floating-section {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    max-width: 1000px;
    height: 80vh;
    max-height: 1000px;
    background: rgb(39, 39, 39);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.floating-section.invert {
    background-color: rgb(255, 255, 255);
}

.floating-logo {
    position: absolute;
    top: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    width: 200px; /* Adjust size as needed */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px;
}

.heading-1 { 
    /* The Meow Movement */
    position: relative;
    left: 100px;
    color: white;
    text-align: left;
}

.heading-2 {
    /* 🛡️ In our non-judgmental server: */
    position: relative;
    top: 70px;
    left: 42px;
    font-size: 28px;
    color: white;
    text-align: left;
}

.paragraph-1 {
    position: absolute;
    top: 30px;
    left: 80px;
    max-width: 600px;
    color: white;
    text-align: left;
    white-space: pre-line;
    line-height: 1.5;
}

.paragraph-2 {
    position: relative;
    top: 50px;
    left: 42px;
    max-width: 600px;
    color: white;
    text-align: left;
    white-space: pre-line;
    line-height: 1.0;
}

.paragraph-2 li {
    margin-bottom: 1px; /* Space between bullet points */
}

.paragraph-3 {
    position: relative;
    top: 20px;
    left: 80px;
    max-width: 600px;
    color: white;
    text-align: left;
    white-space: pre-line;
    line-height: 1.5;
}

.floating-section.invert h1 {
    color: black;
}

.floating-section.invert p {
    color: black;
}

.floating-section.invert ul {
    color: black;
}

.line-left {
    position: absolute;
    left: 30px; /* Adjust the left position to move it next to h1 */
    top: 40px; /* Adjust the vertical positioning */
    transform: translateY(-50%);
    width: 60px; /* Adjust the width of the line as needed */
    height: 5px; /* Adjust the height of the line as needed */
    background-color: white;
    border-radius: 5px;
}

.floating-section.invert .line-left {
    background-color: black;
}
