.site-header {
    width: 100%;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
    box-sizing: border-box;
}

.header-content {
    display: flex;
    align-items: center;
    width: 100%;
    pointer-events: auto;
    justify-content: space-between;
    max-width: 265px;
}

.site-header h1 {
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    margin: 0;
    cursor: pointer;
    text-decoration: none;
    pointer-events: auto;
    text-shadow: 4px 4px 4px black;
    max-width: 188px;
}

.header-link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    display: flex;
    align-items: center;
    pointer-events: auto;
}
