html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
}

.image-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.image-container a {
    position: relative;
    display: inline-block;
    width: 25%;
    height: 100%;
    overflow: hidden;
}

.image-container a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background-color: black;
    z-index: 2;
}

.image-container a:first-child::before {
    display: none;
}

.image-container video, .image-container img {
    width: 100%;
    height: 100%;
    scale: 90%;
    transition: transform 0.3s ease;
    z-index: 1;
}

.image-container a:hover video, .image-container a:hover img:not(.line) {
    transform: scale(1.1);
    z-index: 1;
}

.overlay {
    position: absolute;
    bottom: 100px;
    left: 30px;
    display: flex;
    align-items: center;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
}

.overlay .line {
    width: 0;
    height: 5px;
    background-color: white;
    transition: width 0.3s ease;
    margin-right: 5px;
    border-radius: 5px;
}

.overlay span {
    margin: 0;
    font-size: 28px;
    font-family: 'Arial', sans-serif;
    text-shadow: 1px 1px 0px #5e5e5e, -1px -1px 0px #5e5e5e, -1px 1px 0px #5e5e5e, 1px -1px 0px #5e5e5e;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    padding: 5px;
}

.image-container a:hover .line {
    width: 60px;
}
