html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    /* Anti Copyright */
    user-select: none;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
    pointer-events: none;
}

body {
    background-color: #000;
}

.hamburger span {
    background-color: white;
    text-shadow: 2px 2px 4px black;
}

.site-header h1 {
    text-shadow: 4px 4px 4px rgb(180, 180, 180);
}

@font-face {
    font-family: 'Softers';
    src: url('/assets/fonts/Softers.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  /* .description-overlay {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    z-index: 10;
    user-select: none;
    white-space: nowrap;
    overflow: hidden;
    text-align: center; 
    text-shadow: 0 0 5px rgb(0, 0, 0);
    font-size: 35px;
    top: 30%;
    max-width: 90%;
    font-family: 'Softers', sans-serif;
} */

.image-container {
    position: relative;
    overflow: hidden;
    z-index: 5;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    transition: opacity 0.5s ease;
}

.slide img {
    width: 100vw;
    height: 100%;
    justify-content: center;
}

.slider-nav {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 40px;
    width: 100%;
    margin-top: 15px;
    z-index: 10;
    pointer-events: all;
}

.nav-line {
    display: inline-block;
    width: 60px;
    height: 6px;
    background-color: #ccc;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.nav-line.active, .nav-line:hover {
    background-color: #333;
}

.text-block {
    display: flex;
    position: fixed; 
    bottom: 0px; 
    width: 100%; 
    height: 30px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    font-size: 18px;
    z-index: 10;
    opacity: 0.8;
    justify-content: space-between;
    align-items: center;
}

.katie {
    display: flex;
    padding: 15px;
}

.navigation {
    display: flex;
    padding: 15px;
}

.arrow-container {
    position: fixed;
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-between;
    pointer-events: all;
    z-index: 20;
}

.arrow {
    position: relative;
    width: 40px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 50px;
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.3s;
    z-index: 20;
    padding: 0 15px;
}

.left-arrow {
    justify-content: flex-start;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.right-arrow {
    justify-content: flex-end;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.arrow:hover {
    opacity: 1;
}
