.switch-container {
    display: block;
    position: absolute;
    cursor: pointer;
    pointer-events: auto;
    top: 20px;
    /* Adjust as needed to position correctly */
    left: 10px;
    /* Adjust as needed to position correctly */
    width: 70px;
    /* Width of the switch background */
    height: 40px;
    /* Height of the switch background */
    border-radius: 30px;
    background-color: #afafaf;
    box-shadow: 0 0 5px rgba(111, 111, 111, 0.5);
}

.switch-container.invert {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    background-color: #444;
}

.switch-container button#invert-colors-button {
    position: absolute;
    background: none;
    cursor: pointer;
    display: flex;
    width: 10px;
    height: 20px;
    left: 5px;
    Top: 7px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    pointer-events: auto;
    font-size: 24px;
    /* Adjust font size if necessary */
    color: inherit;
    transition: transform 0.5s ease;
    /* Add transition for animation */
    border: 0px solid red;
    box-sizing: content-box;
}

.switch-container button#invert-colors-button.animate {
    transform: translateX(150%);
    /* Adjust the distance as needed */
}