body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.image-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0px;
    /* Adjust the gap between images as needed */
    overflow-x: auto;
    /* Allows horizontal scrolling if the content overflows */
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.image-container a {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 25%; /* Ensure each image takes up 25% of the container */
    height: 100%;
}

.image-container img {
    width: 100%;
    height: 100%; /* Adjust this value to make images initially smaller */
    object-fit: cover;
    transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
}

.image-container a:hover img {
    transform: scale(1.2); /* Optional: Adds a slight zoom effect */
    z-index: 1;
}